@{
    Layout = "LayoutIndex";
}

<h1>TOURNOI DE TENNIS DE TABLE</h1>
<h3>Description</h3>
<p>
    <img src="~/images/description.jpg" class="image-contenu-gauche"> <br /> 
    Le tennis de table, aussi appelé « ping-pong », est un sport de raquette opposant deux ou quatre joueurs autour d'une table. Le tennis de table est une activité de loisir,<br />
    mais c'est également un sport olympique depuis 1988.<br /><br />

    Il existe plusieurs dénominations de ce sport à travers le monde : ping pang qiu (乒乓球, pīng pāng qiú, « balle ping-pang »),<br />
    en République populaire de Chine et République de Chine (Taïwan), les caractères étant assez particuliers puisqu'ils représentent<br />
    des raquettes face à face, ou également en Chine zhuo qiu (卓球, zhuō qiú, « balle de table »), qui se prononce au Japon takkyū (卓球?).<br />
    Le mot ping-pong proviendrait de la marque commerciale sous laquelle le jeu est produit aux États-Unis au début du xxe siècle3,4. Le terme "ping-pong"<br />
    est plutôt utilisé pour désigner le jeu de loisirs, alors que "tennis de table" est utilisé pour désigner la pratique sportive. Un pratiquant de ce sport,<br />
    y compris en compétition, s'appelle un « pongiste ».<br />
    L'histoire de ce sport d'origine britannique est marquée par une série d'évolutions techniques (nature des revêtements de raquettes, introduction puis<br />
    interdiction d'usage de la colle rapide) qui ont conduit à des innovations dans le style de jeu (utilisation de la « prise porte plume » par les Hongrois<br />
    puis les Asiatiques) et dans les tactiques employées au plus haut niveau comme l'apparition du topspin dans le courant des années 1970. Le tennis de table<br />
    moderne permet une grande variété de systèmes de jeu, avec les jeux d'attaque, de contre-initiative à la table ou à mi-distance, et les jeux de défense particulièrement spectaculaires.<br />
    Le nombre de pratiquants dans le monde est estimé en 2005 à plus de 260 millions5, et la Fédération internationale de tennis de table (ITTF) regroupe plus de<br />
    200 nations et 34 millions de licenciés qui se rencontrent à tous les niveaux de compétition, du tournoi de club jusqu'aux championnats du monde en passant par<br />
    le Pro tour, un ensemble de tournois organisés par l'ITTF se déroulant sur tous les continents et qui concrétise une professionnalisation au plus haut niveau.<br />
</p>
<h3>Le jeu en double</h3>
<p>
    <img src="~/images/double.jpg" class="image-contenu-droite">
    Chaque joueur doit obligatoirement tapper la balle chacun son tour. <br />
    Le premier serveur est décidé par l'équipe qui a gagné le service, le premier relanceur est ensuite décidé par l'équipe adversaire. <br />
    Le changement de serveur se fait ensuite de la manière suivante : le relanceur devient serveur, et le partenaire du serveur devient relanceur, et ainsi de suite... <br />
    Le serveur doit obligatoirement servir dans la diagonale droite, c'est-à-dire que la balle doit d'abord rebondir sur la demi-table droite du serveur puis sur la demi-table droite du relanceur. <br />
    Si les 2 équipes atteignent 10 points, le service change de camp tous les points.
</p>
<br />
<br />
<h3>Le matériel</h3>
<p>
    <img src="~/images/table.jpg" class="image-contenu-gauche"> <br /> <br />
    La <strong>surface de jeu</strong> doit faire 2,74m de long, 1,525m de large et doit être située à 76cm au dessus du sol. <br />
    Le <strong>filet</strong> doit être à une hauteur de 15,25cm. <br />
    La <strong>balle</strong> doit faire 40mm de diamètre et peser 2,7g. <br />
    La <strong>raquette</strong> peut être de n'importe quels poids, forme et dimensions et doit avoir une face noire et une face rouge.
</p>
<br />
<br />
<h3>Regles avant de commencer un tournoi</h3>
<p>
    <img src="~/images/reglementTournoi.jpg" class="image-contenu-droite"> <br /> <br />
    Il faut qu'un minimum de 16 joueurs soit inscris avant qu'un tournoi puisse demarrer.
    Donc il faut au moins 8 equipes pour commencer les quart de final d'un tournoi de tennis de table.
    Attention, prenez note, qu'aucune modification administrative n'est permis apres le coup de siflet, indiquant le
    fait que le tournoi a commence.
    C'est a dire que, aucune equipe ne peut etre supprimer du tournoi, memes si elle ne participe pas.
    De meme pour les joueurs, aucun joueur ne peut etre supprimer apres le commencement du tournoi.
</p>
<br />
<br />
<h3>Déroulement d'une partie</h3>
<p>
    <img src="~/images/deroulement.jpg" class="image-contenu-gauche"> <br /> <br />
    Une <strong>manche</strong>se déroule en 11 points avec 2 points d'écart. <br />
    Le serveur change tous les 2 points, si les 2 joueurs atteignent 10 points, le serveur change à chaque point. <br />
    Le vainqueur d'une <strong>partie</strong> est le premier joueur qui remporte 3 manches (ou 4 manches selon les compétitions).
</p>
<h3>Conseil</h3>
<p>
    <img src="~/images/conseil.jpg" class="image-contenu-droite"> <br /> <br /> <br /> <br />
    Essaye de vous echauffer avant de commencer le tournoi. <br />
    Faite une a trois jeux avec votre equiper avant le coupe de siflet de debut. <br />
    Faite les exercices de service avant chacun de vos match. <br />
    Communiquer de votre strategie avec votre equipier avant chaque match. <br />
    Nettoyer votre raquette apres chaque match. <br />

    Verifier a avoir les mains sec avant chaque match. <br />
    N'hesiter pas a discuter, ou preparer des terme court et rapide pendant un match.
    <br /> <br /> <br /> <br /> <br /> <br /> <br />
</p>
<h1>BONNE AMUSEMENT ! - BONNE CHANSE ! </h1>
