@{
    Layout = "LayoutTournoi";
}
<h1>GENERATION D UN TOURNOI</h1>
<div>
    <a class="motif-droite-eleve-menu-lienEquipe" href="/Tournoi/GenererTournoiSuite?listEquipe=@ViewBag.ListeEquipe">Quart de final</a>
    <a class="motif-droite-eleve-menu-lienEquipe" href="/Tournoi/GenererDemiFinalFinal?listRencontre=@ViewBag.ListeRencontre">Demi de final</a>
    <a class="motif-droite-eleve-menu-lienEquipe" href="/Tournoi/GenererDemiFinalFinal?listRencontre=@ViewBag.ListeRencontre">Final</a>
    <a class="motif-droite-eleve-menu-lienEquipe" href="/Tournoi/Terminer">Terminer</a>
</div>
<h3>Regles avant de commencer un tournoi</h3>
<p>
    <img src="~/images/reglementTournoi.jpg" class="image-contenu-gauche"><br /><br />
    Il faut qu'un <strong>minimum de 16 joueurs</strong> soit inscris avant qu'un tournoi puisse demarrer.<br />
    Donc il faut au moins <strong>8 equipes</strong> pour commencer les quart de final d'un tournoi de tennis de table.<br />
    Attention, prenez note, qu'<strong>aucune modification administrative</strong> n'est permis apres le coup de siflet, indiquant le
    fait que le <strong>tournoi a commence</strong>.<br />
    C'est a dire que, aucune equipe ne peut etre supprimer du tournoi, memes si elle ne participe pas.<br />
    De meme pour les joueurs, aucun joueur ne peut etre supprimer apres le commencement du tournoi.<br />
</p>
<br />
<br />
<h3>Le matériel</h3>
<p>
    <img src="~/images/table.jpg" class="image-contenu-droite"><br /><br /><br /><br /><br /><br /><br />
    La <strong>surface de jeu</strong> doit faire 2,74m de long, 1,525m de large et doit être située à 76cm au dessus du sol.<br />
    Le <strong>filet</strong>doit être à une hauteur de 15,25cm.<br />
    La <strong>balle</strong> doit faire 40mm de diamètre et peser 2,7g.<br />
    La <strong>raquette</strong> peut être de n'importe quels poids, forme et dimensions et doit avoir une face noire et une face rouge.<br />
</p>
<br />
<br />
<h3>Déroulement d'une partie</h3>
<p>
    <img src="~/images/deroulement.jpg" class="image-contenu-gauche"><br /><br />
    Une <strong>manche</strong> se déroule en 11 points avec 2 points d'écart.<br />
    Le serveur change tous les 2 points, si les 2 joueurs atteignent 10 points, le serveur change à chaque point.<br />
    Le vainqueur d'une <strong>partie</strong> est le premier joueur qui remporte 3 manches (ou 4 manches selon les compétitions).
</p>
<h3>Conseil</h3>
<p>
    <img src="~/images/conseil.jpg" class="image-contenu-droite"><br /><br /><br /><br /><br /><br /><br /><br />
    Essaye de vous echauffer avant de commencer le tournoi.<br />
    Faite une a trois jeux avec votre equiper avant le coupe de siflet de debut.<br />
    Faite les exercices de service avant chacun de vos match.<br />
    Communiquer de votre strategie avec votre equipier avant chaque match.<br />
    Nettoyer votre raquette apres chaque match.<br /><br />

    Verifier a avoir les mains sec avant chaque match.<br />
    N'hesiter pas a discuter, ou preparer des terme court et rapide pendant un match.
</p>
<br />
<br />
<br />
<br />
<h3>Information supplémentaire sur la page <a href="/Home/Index">d'acceuil</a></h3>
<h1>BONNE AMUSEMENT ! - BONNE CHANSE ! </h1>



