@{
    Layout = "LayoutTournoi";
}

<h1>TOURNOI TERMINE</h1>
<h3>Merci pour votre participation, vous avez fait preuve d'un grand talent </h3><br />
<h3>Nous esperons que ce tournoi vous a aide a depasser vos limit</h3><br />
<h3>Pour revenir plus fort la prochaine fois.</h3><br />
<h3>Au revoir !</h3>
