@{
    Layout = "LayoutJoueur";
}

<h1>Confirmation de la suppression</h1>
<div class="motif">
    <div class="motif-gauche">
        <img id="FichierImageEleve" class="motif-gauche-img" src="~/images/joueur/@ViewBag.Joueur.Photo" />
    </div>
    <div class="motif-droite">
        <div class="motif-droite-titre">
            <a class="joueurTitre">
                Numero  : @ViewBag.Joueur.IdJoueur
            </a><br /><br />
        </div>
        <div class="motif-droite-contenu">
            <b>Nom :</b>
            <label>@ViewBag.Joueur.Nom</label><br /><br />

            <b>Prenom :</b>
            <label>@ViewBag.Joueur.Prenom</label><br /><br />

            <b>Style :</b>
            <label>@ViewBag.Joueur.StyleJeu</label><br /><br />
        </div>
    </div>
</div>
<br />
<div class="cadre-am">
    <form action="~/Joueur/SupprimerSuite?idJoueur=@ViewBag.Joueur.IdJoueur" method="post" enctype="multipart/form-data">
        <b>
            <label style="color:red">
                Voulez-vous réellement supprimer toutes les informations sur ce joueur ?
            </label>
        </b>
        <button type="submit" class="bouton">Oui</button>        
    </form>
        <a href="~/Joueur/ListerTous" class="bouton">Non</a>
</div>

